<html>
<head>
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <h1>Resultados de Búsqueda para: {{ query }} -> {{ articulos|length }} articulos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
        {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.precio }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No se encontraron resultados.</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'buscar_productos' %}">Nueva Búsqueda</a>
    <a href="{% url 'borrar_articulo' %}">Borrar Artículo</a>
    <a href="{% url 'home' %}">Volver al Inicio</a>
</body>
</html>